@{

    Layout = "~/Views/Shared/_WriterLayout.cshtml";
    var blogsDictionary = ViewBag.blogsDictionary as Dictionary<int, string>;
}


@model List<CommentDto>

<div class="row mb-6">
    @await Component.InvokeAsync("MostLikedBlogs", new { writerId = ViewBag.WriterId })

</div>


<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Last Comments</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Comment</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Blog Name</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Score</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {

                                string content = item.CommentContent;
                                string preview = content;

                                if (content.Length > 20)
                                {
                                    int lastIndex = content.Substring(0, 20).LastIndexOf(" ");
                                    if (lastIndex > 0)
                                    {
                                        preview = content.Substring(0, lastIndex) + "...";
                                    }
                                    else
                                    {
                                        preview = content.Substring(0, 20) + "...";
                                    }
                                }


                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img src="../assets/img/team-2.jpg" class="avatar avatar-sm me-3" alt="user1">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">@item.CommentUserName</h6>
                                               
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">@item.CommentTitle</p>
                                        <p class="text-xs text-secondary mb-0">@preview</p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="text-secondary text-xs font-weight-bold">@blogsDictionary[item.BlogId]</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="badge badge-sm bg-gradient-success">@item.BlogScore</span>
                                    </td>
                                    <td class="align-middle">
                                        <a class="text-secondary font-weight-bold text-xs" asp-action="Delete" asp-controller="comment" asp-route-id="@item.Id">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            }






                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


